<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>D'Hospital Appointment Scheduler</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body style="background: url('26564111.jpg') no-repeat center center fixed;
background-size: cover;">

<nav>
    <div class="nav-wrapper" style="background-color: darkblue">
        <div class="container">
            <a th:href="@{/}" class="brand-logo">D'Hospital Appointment Scheduler</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a th:href="@{/login/patient}" style="font-size: larger"><b>Patient</b></a></li>
                <li><a th:href="@{/login/doctor}" style="font-size: larger"><b>Doctor</b></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 5rem">
    <h1><b>Nibi lo ma ku si.</b></h1>
    <h1 style="text-indent: 100px"><b>Boya lo ma dele.</b></h1>

    <h1 style="text-indent: 400px"><b>Ati be be lo...</b></h1>

</div>

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>